// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

span .form-control {
  height: 55px;
}

h4.white {
  visibility: hidden;
}

$placeholder-opacity-max: 0.5;
$placeholder-opacity-min: 0.2;
